*{
    margin: 0;
   
}

.f{
    background-color: aliceblue;
    height: 100vh;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.m{
    background-color: white;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  margin: 20px;
  
}

.c{
    
   width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.i{
    margin: 10px;
}

